<!-- 
<div class="loader-box" *ngIf="loading" >
    <img src="./assets/images/load.gif" class="img-responsive" />
</div>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-lg-6">
                    <div class="recipe-name">
                        <h1 class="main-head">Category Management</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-danger pull-right" (click)="deleteRecipe()" [disabled]="categoryIds.length<=0">Delete</button>
                    <button type="button" class="btn btn-success pull-right" (click)="onAddCategory()">Add Category</button>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Category Image</th>
                                <th  class="text-center">Category Name English</th>
                                <th  class="text-center">Category Name Herbew</th>
                                <th  class="text-center">Edit</th>
                                <th  class="text-center">Select Categories </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categoryList;let i=index">
                                <td >{{i+1}}</td>
                                <td>
                                    <img [src]="getSafeContent(category.categoryImage)" class="recipe-img" alt="http://placehold.it/100x100" *ngIf="category.categoryImage">
                                    <img src="http://placehold.it/100x100" class="recipe-img" *ngIf="!category.categoryImage">
                                </td>

                                <td class="text-center">{{category.categoryName}}</td>
                                <td class="text-center">{{category.categoryNameHerbew}}</td>
                                <td class="text-center">
                                    <a href="javascript:void(0);" class="pull-right" (click)="onEdit(category)">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>                                        
                                <td  class="text-center">
                                     <div class="check-box">
                                        <mat-checkbox (change)="onCheckbox(category._id)">Select </mat-checkbox>
                                    </div> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>                   
        </div>
    </div>
</div>



 -->

 <!-- //////////////////////////////////////////////////new template///////////////////////////////////////////////////////////// -->


<div class="loader-box" *ngIf="loading" >
    <img src="./assets/images/load.gif" class="img-responsive" />
</div>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-lg-6">
                    <div class="recipe-name">
                        <h1 class="main-head">Category Management</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- <button type="button" class="btn btn-danger pull-right" (click)="deleteRecipe()" [disabled]="categoryIds.length<=0">Delete</button> -->
                    <button type="button" class="btn btn-success pull-right" (click)="onAddCategory()">Add Category</button>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Category Image</th>
                                <th  class="text-center">Category Name English</th>
                                <th  class="text-center">Category Name Herbew</th>
                                <th  class="text-center">Edit</th>
                                <th  class="text-center">Select Categories </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categoryList;let i=index">
                                <td >{{i+1}}</td>
                                <td>
                                    <img [src]="getSafeContent(category.categoryImage)" class="recipe-img" alt="http://placehold.it/100x100" *ngIf="category.categoryImage">
                                    <img src="http://placehold.it/100x100" class="recipe-img" *ngIf="!category.categoryImage">
                                </td>

                                <td class="text-center">{{category.categoryName}}</td>
                                <td class="text-center">{{category.categoryNameHerbew}}</td>
                                <td class="text-center">
                                    <a href="javascript:void(0);" class="pull-right" (click)="onEdit(category)">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>                                        
                                <td  class="text-center">
                                     <div class="check-box">
                                        <!-- <mat-checkbox (change)="onCheckbox(category._id)">Select </mat-checkbox> -->
                                        <a href="javascript:void(0);">
                                            <i class="material-icons" (click)="deleteSingleRecipe(category._id)">delete_forever</i>
                                        </a>
                                    </div> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>                   
        </div>
    </div>
</div>



