<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="row">
                <div class="col-lg-6">
                    <div class="recipe-name">
                        <h1 class="main-head">View All Recipies</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-danger pull-right">Delete</button>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th>Sr. No.</th> -->
                                <th width="100" class="text-center">Image</th>
                                <th class="text-center">Recipe Name</th>
                                <th  class="text-center">Level</th>
                                <th class="text-center">Categories</th>
                                <th  class="text-center">Duration</th>
                                <th  class="text-center">Users</th>
                                <th  class="text-center">Select Recipies <mat-checkbox></mat-checkbox></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td><img src="assets/images/food3.jpg" class="img-responsive img-circle doctor-picture"></td>
                                <td class="text-center" (click)="onRecipe()">Bubur Sum Sum</td>
                                <td  class="text-center">
                                    <i class="text-muted">Easy</i>
                                </td>
                                <td class="text-center">Meat</td>
                        
                                <td  class="text-center">5 Minutes</td>
                                 <td  class="text-center"><button class="btn btn-info btn-sm" (click)="onViewUsers()">View users</button></td>
                                <td  class="text-center">
                                     <div class="check-box">
                                         <mat-checkbox>Select </mat-checkbox>
                                    </div> 
                                </td>
                                
                            </tr>
                            <tr>
                                <td><img src="assets/images/food3.jpg" class="img-responsive img-circle doctor-picture"></td>
                                <td class="text-center">Bubur Sum Sum</td>
                                <td  class="text-center">
                                    <i class="text-muted">Easy</i>
                                </td>
                                <td class="text-center">Meat</td>                       
                                <td  class="text-center">Half Hour</td>
                                 <td  class="text-center"><button class="btn btn-info btn-sm" (click)="onViewUsers()">View users</button></td>
                                <td  class="text-center">
                                     <div class="check-box">
                                        <mat-checkbox>Select </mat-checkbox>
                                    </div> 
                                </td>
                               
                            </tr>
                            <tr>
                                <td><img src="assets/images/food3.jpg" class="img-responsive img-circle doctor-picture"></td>
                                <td class="text-center">Bubur Sum Sum</td>
                                <td  class="text-center">
                                    <i class="text-muted">Hard</i>
                                </td>
                                <td class="text-center">Meat</td>
                                <td  class="text-center">20 Minutes</td>
                                 <td  class="text-center"><button class="btn btn-info btn-sm">View users</button></td>
                                <td  class="text-center">
                                     <div class="check-box">
                                         <mat-checkbox>Select </mat-checkbox>
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td><img src="assets/images/food3.jpg" class="img-responsive img-circle doctor-picture"></td>
                                <td class="text-center">Bubur Sum Sum</td>
                                <td  class="text-center">
                                    <i class="text-muted">Easy</i>
                                </td>
                                <td class="text-center">Meat</td>                       
                               <td  class="text-center">10 Minutes</td>
                                <td  class="text-center"><button class="btn btn-info btn-sm">View users</button></td>
                               <td  class="text-center">
                                     <div class="check-box">
                                        <mat-checkbox>Select </mat-checkbox>
                                     </div> 
                                </td>
                            </tr>
                            <tr>
                                <td><img src="assets/images/food3.jpg" class="img-responsive img-circle doctor-picture"></td>
                                <td class="text-center">Bubur Sum Sum</td>
                                <td  class="text-center">
                                    <i class="text-muted">Easy</i>
                                </td>
                                <td class="text-center">Meat</td>       
                                <td  class="text-center">10 Minutes</td>
                                 <td  class="text-center"><button class="btn btn-info btn-sm">View users</button></td>
                                <td  class="text-center">
                                     <div class="check-box">
                                         <mat-checkbox>Select </mat-checkbox>
                                    </div> 
                                </td>
                            </tr>
                            <tr>
                                <td><img src="assets/images/food3.jpg" class="img-responsive img-circle doctor-picture"></td>
                                <td class="text-center">Bubur Sum Sum</td>
                                <td  class="text-center">
                                    <i class="text-muted">Easy</i>
                                </td>
                                <td class="text-center">Meat</td>                     
                                <td  class="text-center">10 Minutes</td>
                                 <td  class="text-center"><button class="btn btn-info btn-sm">View users</button></td>
                                <td  class="text-center">
                                     <div class="check-box">
                                        <mat-checkbox>Select </mat-checkbox>
                                    </div> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>                   
        </div>
    </div>
</div>



