<div class="popup popup-user">
	<ul>
		<li>
			<span>1.</span>
			<img src="assets/images/food2.jpg" class="img-responsive img-circle" >
			<span>John Smith</span>
			<button type="button" class="btn btn-danger btn-xs pull-right">Remove</button>
		</li>
		<li>
			<span>2.</span>
			<img src="assets/images/food2.jpg" class="img-responsive img-circle" >
			<span>John Smith</span>
			<button type="button" class="btn btn-danger btn-xs pull-right">Remove</button>
		</li>
		<li>
			<span>2.</span>
			<img src="assets/images/food2.jpg" class="img-responsive img-circle" >
			<span>John Smith</span>
			<button type="button" class="btn btn-danger btn-xs pull-right">Remove</button>
		</li>

	</ul>
</div>
