<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-lg-6">
                    <div class="recipe-name">
                         <h1 class="main-head">Bubur Sum Sum</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-primary pull-right">Edit</button>
                    <button type="button" class="btn btn-danger pull-right">Delete</button>
                </div>
            </div>
        </div>       
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group heading">
                    <h3 class="mt0">Description</h3>
                <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        
                </p>
          
                    <img src="./assets/images/balifoodBackground.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <p><b>Category</b><br>
                      <span class="text-muted">Chicken </span>  
                    </p>
                    <p><b>Meal Type</b><br>
                   <span class="text-muted"> Kosher Meet</span>
                    </p>
                    <p><b>Duration</b><br>
                       <span class="text-muted">5 Minutes</span> 
                    </p>
                    <p>
                    <b>Level</b><br>
                   <span class="text-muted">Easy</span>
                    </p>

                    <p>
                    <b>Ingredients</b><br>
                    <span class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.
                    </span>
                    
                    </p>

                    <p>
                    <b>Instructions</b><br>
                    <span class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.
                    </span>
                    </p>
                </div>
                
            </div>                   
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Recipe Images</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="recipe-images">                           
                            <img src="assets/images/food2.jpg" class="img-responsive img-rounded">
                        </div>
                    </div>
                     <div class="col-lg-4">
                        <div class="recipe-images">                           
                            <img src="assets/images/food2.jpg" class="img-responsive img-rounded">
                        </div>
                    </div>
                     <div class="col-lg-4">
                        <div class="recipe-images">                           
                            <img src="assets/images/food2.jpg" class="img-responsive img-rounded">
                        </div>
                    </div>
                     <div class="col-lg-4">
                        <div class="recipe-images">                           
                            <img src="assets/images/food2.jpg" class="img-responsive img-rounded">
                        </div>
                    </div>
                     <div class="col-lg-4">
                        <div class="recipe-images">                           
                            <img src="assets/images/food2.jpg" class="img-responsive img-rounded">
                        </div>
                    </div>
                     <div class="col-lg-4">
                        <div class="recipe-images">                           
                            <img src="assets/images/food2.jpg" class="img-responsive img-rounded">
                        </div>
                    </div>
                </div>   
            </div>
            <div class="col-lg-6">
                <h3>Recipe video</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="recipe-images">                           
                            <img src="assets/images/video.jpg" class="img-responsive img-rounded">
                        </div>
                    </div>  
            </div>
         
        </div>
      
    </div>
</div>