<div class="popup popup-addlist">
	<ul>
		<li>
			<div class="mainDiv">
				<div class="innerDivLeft">
					<mat-form-field>
						<input type="text" name="" matInput placeholder="Category Name English" [(ngModel)]="categoryNameEnglish">
					</mat-form-field>
				</div>
				<div class="innerDivRight">
					<mat-form-field>
						<input type="text" name="" matInput placeholder="Category Name Herbew" [(ngModel)]="categoryNameHerbew">
					</mat-form-field>
				</div>
			</div>
			<div class="text-center">				
				<button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
			</div>
		</li>
	</ul>
</div>
