<div class="dialog-container" *ngIf="!agree">
	<div class="dialog-message">
		<div style="display: inline-flex;">
			<span style="margin-right: 5px"><i class="material-icons">warning</i></span>
			<p><b>Caution !</b></p>
		</div>
		<!-- <p><i class="material-icons">warning</i><b>Caution !</b></p> -->
		<p>This section is for deleting users without recovery option</p>
	</div>
	<div class="dialog-button-container">
		<div class="left-button">
			<button  class="btn btn-yellow" (click)="onContinue()"  >
		        <i class="material-icons">verified_user</i>
		        <span class="">continue</span>
		        <div class="ripple-container"></div>
	    	</button> 
		</div>
		<div class="right-button">
			<button  class="btn btn-black" (click)="onCancel()">
		        <i class="material-icons">error</i>
		        <span class="">Cancel</span>
		        <div class="ripple-container"></div>
		    </button>
		</div>
	</div>
</div>


<div class="dialog-container" *ngIf="agree">
	<div class="dialog-message">
		<p>Please enter your password </p>
		<md-form-field>
            <input mdInput placeholder="Password" type="password" [(ngModel)]="password"  name="password" >
        </md-form-field>
	</div>
	<div *ngIf="errDiv" style="color: #F44336">You have entered wrong password</div>
	<div class="dialog-button-container">
		<div class="left-button">
			<button  class="btn btn-yellow" (click)="onSubmit()"  >
		        <i class="material-icons">verified_user</i>
		        <span class="">Confirm</span>
		        <div class="ripple-container"></div>
	    	</button> 
		</div>
		<div class="right-button">
			<button  class="btn btn-black" (click)="onCancel()">
		        <i class="material-icons">error</i>
		        <span class="">Cancel</span>
		        <div class="ripple-container"></div>
		    </button>
		</div>
	</div>
</div>
